site
__pycache__
.eggs
.coverage
.flux.*
scratch
*.egg-info
.tmp.*
compose.mk
docs/*.md
.mypy_cache/
.eggs/
.pytest_cache
dist
.tox
.vscode
.cmk/local.mk
.grit
docs/CITATION.bib
build/
docs/schema/*
docs/admonition/*
docs/api/*
docs/includes/*
docs/demos/*.md
